{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}

{% block title %}{{ title }} - Spring 2018{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
                <div class="col s12 m6">
                    <div class="card card-1">
                        <img src="{{url_for('static', filename='riidr_logo.png')}}"/>
                        <br>
                        <h3>riidr carsharing service</h3>
                        <br>
                        <p>Enter a single origin/destination to search for:</p>
                        wtf.quick_form(form)
                    </div>
            	</div>
        </div>
</div>
{% endblock %}
